/** Styling for 'Create a Default Tier List' */
#tier_list_created{
    background-color: greenyellow;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#tier_list_created:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#tier_list_created:active{
    background-color: gray;
}

.buttons, .modButtons{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.cancel-button{
    margin-top: 300px;
}

#tier_color_change{
    background-color: red;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#tier_color_change:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#tier_color_change:active{
    background-color: gray;
}

#clear_tier{
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#clear_tier:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#clear_tier:active{
    background-color: gray;
}

#clear_tier_list{
    background-color: rgb(167, 226, 128);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#clear_tier_list:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#clear_tier_list:active{
    background-color: gray;
}


/** Styling for images container buttons */
#upload_images{
    background-color: rgba(245, 245, 245, 0.835);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#upload_images:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#upload_images:active{
    background-color: gray;
}

#search_images{
    background-color: rgba(245, 245, 245, 0.835);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#search_images:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#search_images:active{
    background-color: gray;
}


/** Styling for custom tier list creation */
#custom_tier_list_created{
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#custom_tier_list_created:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#custom_tier_list_created:active{
    background-color: gray;
}