#containerForTierList{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: solid 2px black;
    background-color: rgb(30, 30, 30);
}

.tier-container{
    display: flex;
    flex-direction: column;
}

.tier{
    display: flex;
    flex-direction: row;
    width: 115px;
    height: 100px;
    border-bottom: solid 2px black;
    background-color: gray;
}

#border-for-tier{
    background-color: red;
}

#S{
    background-color: rgb(253, 123, 123);
}

#A{
    background-color: rgb(255, 170, 91);   
}

#B{
    background-color: rgb(253, 226, 144);   
}

#C{
    background-color: rgb(246, 253, 123);   
}

#D{
    background-color: rgb(146, 246, 115);   
}

#F{
    background-color: rgb(123, 253, 244);   
}