/** Styling for buttons */
.buttons{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
}

/** Styling for 'Create a Tier List' */
#tier_list_created{
    background-color: greenyellow;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#tier_list_created:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#tier_list_created:active{
    background-color: gray;
}

/** Styling for 'Modify Tier List' */
#modify_tier_list{
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 80px;
}
#modify_tier_list:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#modify_tier_list:active{
    background-color: gray;
}

/** Styling for 'Delete Tier List' */
#delete_tier_list{
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#delete_tier_list:hover{
    opacity: 0.7;
    transition-duration: 0.2s;
}
#delete_tier_list:active{
    background-color: gray;
}