/** Change color of website background */
body{
    background-color: rgba(0, 0, 0, 0.812);
}

/** Styling for website title */
#header-area{
    display: flex;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.812);
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}
#header-name{
    justify-content: center;
}

/** Styling for tier list buttons area */
#main-button-area{
    display: flex;
    margin-top: 20px;
    background-color: rgba(40, 40, 40, 0.927);
    align-items: center;
}

/** Styling for image container that contains images to be inserted in tier list */
#image-place-holder{
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 40, 40, 0.927);
    background-size: cover;
    border-style: solid;
    margin-bottom: 30px;
    height: 250px;
    cursor: grab;
}
#cap_for_user{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#place-holder{
    background-color: rgb(2, 2, 2);
    border-style: solid;
    width: 100%;
    height: 100%;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#place-holder img{
    width: 80px;
}

/** Styling for website footer area */
#footer-area{
    background-color: rgba(40, 40, 40, 0.927);
    color: rgba(10, 246, 30, 0.902);
    a{
        color: red;
    }
}