#tier-list-container{
    display: flex;
    border-style: solid;
    width: 750px;
    overflow: hidden;
}

.tier{
    max-width: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: solid black;
    border-width: 3px;
    flex: 1 1 auto;
    display: flex;
}

.tier-list{
    display: flex;
    flex-direction: column;
    outline: 2px solid blue;
}

.tier-name{
    font-weight: bold;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
}

.tier-header{
    display: flex;
    align-items: center;
    position: relative;
}

.image-container{
    border-style: solid; 
    background-color: rgba(0, 0, 0, 0.501);
    width: 645px;
}

#S{
    background-color: rgb(253, 123, 123);
}

#A{
    background-color: rgb(255, 170, 91);   
}

#B{
    background-color: rgb(253, 226, 144);   
}

#C{
    background-color: rgb(246, 253, 123);   
}

#D{
    background-color: rgb(146, 246, 115);   
}

#F{
    background-color: rgb(123, 253, 244);   
}